---
layout: default
---

<div class="post">
  <h1 class="post-title">{{ page.title }}</h1>
  <span class="post-date">{{ page.date | date_to_string }}</span>
  {% if page.tags != empty %}
      <footer>
        <span>Tags:</span>
        <!--<ul class="tag-list">-->
          {% for tag in page.tags %}
            <span class="site-tag">
              <a href="{{ site.tag_dir | prepend: '/' }}/{{ tag | uri_escape }}"
                  style="font-size: {{ tag | last | size  |  times: 4 | plus: 80  }}%">
                      {{tag}}; 
              </a>
            </span>
          <!--<li><a href="{{ site.tag_dir | prepend: '/' }}/{{ tag | uri_escape }}">{{ tag }}</a></li>-->
          {% endfor %}
        <!--</ul>-->
      </footer>
  {% endif %}
  {{ content }}
</div>
<!--<div class="tags">
  {% if page.tags != empty %}
      <footer>
        <p>Tags:</p>
        <ul class="tag-list">
          {% for tag in page.tags %}
          <li><a href="{{ site.tag_dir | prepend: '/' }}/{{ tag | uri_escape }}">{{ tag }}</a></li>
          {% endfor %}
        </ul>
      </footer>
  {% endif %}
</div>-->
<div class="related">
  <h2>Related Posts</h2>
  <ul class="related-posts">
    {% for post in site.related_posts limit:3 %}
      <li>
        <h3>
          <a href="{{ site.baseurl }}{{ post.url | remove_first: '/'}}">
            {{ post.title }}
            <small>{{ post.date | date_to_string }}</small>
          </a>
        </h3>
      </li>
    {% endfor %}
  </ul>
</div>
